<div class="container">
    <h2>{{'course.courses'|trans}}</h2>
    <div class="list-group">
        {% for course in courses %}
         <a href="{{ path( "tangara_course_show", {courseId: course.getId()} ) }}" class="list-group-item content-link" data-active="learn">
             <h4 class="list-group-item-heading">
                 {% if admin %}
                     {{ course.getName() }}
                     <br>
                 {% endif %}
                {{ course.getTitle() }}
             </h4>
             {% if course.getDescription() is not empty %}
             <p class="list-group-item-text">
                 {{ course.getDescription() }}
             </p>
             {% endif %}
         </a>
     {% endfor %}
    </div>
    <a href="{{ path('tangara_course_create') }}" class="btn btn-default content-link" data-active="learn" data-title="project">
            {{'course.creation'|trans }} 
    </a>
</div>