<div class="container">
    <h2>{{'project.projects'|trans}}</h2>
    <h3>{{'project.own_projects'|trans}}</h3>
    <div class="list-group">
        {% for project in ownProjects %}
         <a href="{{ path( "tangara_project_show", {projectId: project.getId()} ) }}" class="list-group-item content-link" data-active="project">
             <h4 class="list-group-item-heading">
                 {% if project.getName() is empty %}
                     {{ 'project.default_name' | trans }}
                 {% else %}
                     {{ project.getName() }}
                 {% endif %}
             </h4>
             {% if project.getDescription() is not empty %}
             <p class="list-group-item-text">
                 {{ project.getDescription() }}
             </p>
             {% endif %}
         </a>
     {% endfor %}
    </div>
        <a href="{{ path('tangara_project_create') }}" class="content-link" data-active="project" data-title="project">
                <button class="btn btn-default">
                    {{'navbar.new_project'|trans }} 
                </button>
        </a>
            <br>
    <h3>{{'project.readonly_projects'|trans}}</h3>
    <div class="list-group">
        {% for project in readonlyProjects %}
         <a href="{{ path( "tangara_project_show", {projectId: project.getId()} ) }}" data-active="project" class="list-group-item content-link">
             <h4 class="list-group-item-heading">
                 {% if project.getName() is empty %}
                     {{ 'project.default_name' | trans }}
                 {% else %}
                     {{ project.getName() }}
                 {% endif %}
             </h4>
             {% if project.getDescription() is not empty %}
             <p class="list-group-item-text">
                 {{ project.getDescription() }}
             </p>
             {% endif %}
         </a>
     {% endfor %}
    </div>
       
    <br>
    <h3>{{'project.published_projects'|trans}}</h3>
    <a class="btn btn-default content-link" href="{{path('tangara_project_published')}}" role="button" data-active="discover" data-title="{{'project.published_projects'|trans}}">{{'project.see_published_projects'|trans}}</a>
</div>