{# view for Looking and add members in project #}
<div class="container">
    <br>
    <h3 align="center">{{ 'project.add_member'|trans}} : " {{ project.name }} "</h3>
    <br>
    <br>
    <form id="search_form" {{ form_enctype(form) }} method="POST">
        <div class="col-md-5">
            {{ form_widget(form.search) }}        
        </div>
        <div class="col-md-5">
            {{ form_widget(form) }}
        </div>
    </form>
    <br><br><br>
    <div id="affUser" class="col-md-5">
        <!-- affichage des Contributeurs -->
    </div>

    {#<div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>profil</th>
                    <th>Supprimer</th>
                </tr>

            </thead>
            <tbody> 
                {% for users in user %}
                    <tr>
                        <td><td>
                        <td><td>
                        <td><td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>#}


    <script type="text/javascript">
        $(document).ready(function () {
            var handler = function (e) {
                console.log('sssfgh');

                var url = $(this).data('href');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {userId: $(this).data('userId'), projectId: $(this).data('projectId')},
                    cache: false,
                    success: function (data) {
                        alert('member ok');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('member fail');
                    }

                });
                e.preventDefault();

            };
            $('#search_form_search').keyup(function (keysa) {
                var Data = $(this).val();
                if (Data.length >= 1)
                { //console.log(Data);
                    var ajax = function () {
                        $.ajax({
                            type: "POST",
                            url: "{{ path('tangara_project_search_member') }}",
                            data: {search: Data},
                            cache: false,
                            success: function (data) {
                                $('#affUser').html(data);
                                $('.member').on('click', handler);

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $('#affUser').text("Une erreur s'est produite. Veuillez réessayer ulteriement.").show();
                            }
                        });
                    }
                }
                setTimeout(ajax, 1000);
            });


        });
    </script>    
</div>