{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block title %}Projets{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>{{ username }} > Création d'un projet</h1>
        <div>
            Project manager : {{ project.getProjectManager() }}
        </div>
        <form 
            {% if u_id %}
                action="{{ path( "tangara_project_user_new", {user_id: u_id}) }}"
            {% elseif g_id %}  
                action="{{ path( "tangara_project_group_new", {group_id: g_id}) }}"
            {% endif %}
            method="post">
        {{ form_widget(form) }}
            <input type="submit">
        </form>
            
    </div> 
{% endblock %}