{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block title %}{{ 'projects'|trans }}{% endblock %}

{% block main_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'info.project'|trans }}</h1>
            <a class="btn btn-warning" href="{{ path( "tangara_project_edit", {id: project.getId()} ) }}" >{{ 'project.edit'|trans }}</a>
            <br/>
            {{ 'user.name'|trans }} : {{ app.user.username }}
            <br/>
            {{ 'user.id'|trans }} : {{ app.user.id }}
            <br/>
            {{ 'project.id'|trans }} : {{ project.id }}
            <br/>
            {{ 'project.name'|trans }} : {{ project.name }}
            <br/>
            {{ 'project.manager'|trans }} : {{ project.ProjectManager }}
            <br/>
            {{ 'font.family'|trans }} : {{ project.ReferenceFont }}
            <br/>
            {{ 'create.date'|trans }} : {{ project.dateCreation|date('d-m-Y H:i')}}
            <br/>
            <br/>
            {% if project.getGroup() %}
            {{ 'list.members.project'|trans }} : 
            <ul>
                {% set contributors = project.getGroup().getUsers() %}
                {% for usr in contributors %}
                    <li>{{ usr.getUserName() }}</li>
                {% endfor %}
            </ul>
            {% else %}
            {{ 'msg.project'|trans }}.
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ 'files'|trans|capitalize }}</h1>
            <a class="btn btn-success" href="{{ path( "tangara_project_upload", {id: project.getId()} ) }} ">{{ 'new.file'|trans }}</a>
            <ul>
            {% for f in files %}
                <li>{{ f.getPath() }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
