{% set public = project.getPublished()%}
<div class="container">
    {% include 'TangaraCoreBundle:Main:messages.html.twig' %}
    <h2>{{ 'project.details'|trans }}
    {% if project.getName() is empty %}
        {{ 'project.default_name' | trans }}
    {% else %}
        {{ project.getName() }}
    {% endif %}
    <div class="pull-right">
    {% if  public %}
        <small><span class="label label-primary">{{'project.public'|trans}}</span></small>
    {% else %}
        <small><span class="label label-default">{{'project.private'|trans}}</span></small>
    {% endif %}
    </div>
    </h2>
    {% if  public %}
        <div class='panel panel-primary'>
    {% else %}
        <div class='panel panel-default'>
    {% endif %}
        <table class="data-display">
            <tr>
                <td class="data-title">
                    {{ 'project.name'|trans }}
                </td>
                <td>
                    {% if project.getName() is empty %}
                        <i>{{ 'project.no_name' | trans }}</i>
                    {% else %}
                        {{ project.getName() }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.published'|trans }} 
                </td>
                <td>
                    {% if project.getPublished() %} {{'project.published.yes'|trans}} {% else %} {{'project.published.no'|trans}} {% endif %}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.launcher'|trans }}
                </td>
                <td>
                    {% if project.getLauncher() is defined %}
                        <i>{{ 'project.no_launcher' | trans }}</i>
                    {% else %}
                        {{ project.getLauncher().getName() }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.width'|trans }}
                </td>
                <td>
                    {{ project.getWidth() }}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.height'|trans }}
                </td>
                <td>                    
                    {{ project.getHeight() }}                    
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.description'|trans }}
                </td>
                <td>
                    {{ project.getDescription() }}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.instructions'|trans }}
                </td>
                <td>
                    {{ project.getInstructions() }}
                </td>
            </tr>
            <tr>
                <td class="data-title">
                    {{ 'project.created'|trans }}
                </td>
                <td>
                    {{ project.getCreated()|date('d/m/Y')}}
                </td>
            </tr>
        </table>
    </div>
    {% if message is defined %}
        <div class="well"> {{message|trans}}</div>
    {% endif %}
    <a class="btn btn-default content-link" data-active='project' href="{{ path( "tangara_project_edit") }}" >{{ 'project.edit'|trans }}</a>
</div>
