    <li id="profile" class="dropdown 
{% if error is defined and error %}
 open 
{% endif %}
{% if active is defined and active == 'profile' %}
 active
{% endif %}
">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown-trigger">{{ 'navbar.account'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right" id="user-dropdown" role="menu">
            <li>
                {% render url('fos_user_security_login') %}
            </li>

	    <li>
                <a href="{{ path('tangara_user_forgotten_password') }} " class="content-link" data-active="profile">
                    {{'navbar.forgotten_password'|trans }}
                </a>
            </li>
 

	        <li>
                <a href="{{ path('tangara_user_register') }} " class="content-link" data-active="profile">
                    {{'navbar.register'|trans }}
                </a>
            </li>
        </ul>
    </li>
