<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-menu-trigger">{{ app.user.username }} <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right" id="user-dropdown" role="menu">
        <li>
            <a href="{{ path('fos_user_profile_show') }} ">
                {{'navbar.profile'|trans }} 
            </a>
        </li>
        <li>
        <a href="{{ path('fos_user_security_logout') }}" id="logout-link">
            {{'navbar.logout'|trans }} 
        </a>
        </li>
    {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('tangara_admin_homepage') }} ">
                    {{ 'navbar.admin_interface'|trans }}
                </a>
            </li>
    {% endif %}
    </ul>
</li>