<div class="container">
    {% include 'TangaraCoreBundle:Main:messages.html.twig' %}
    <h2>{{'profile.title'|trans}} > {{ user }}</h2>
    <div class='panel panel-default'>
    <table class="data-display">
        <tr>
            <td class="data-title">
                {{ 'profile.username'|trans }}
            </td>
            <td>
                {{ user.getUserName() }}
            </td>
        </tr>
{% if edition %}
        <tr>
            <td class="data-title">
                {{ 'profile.email'|trans }}
            </td>
            <td>
                {{ user.getEmail() }}
            </td>
        </tr>
{% endif %}
    </table>
    </div>
{% if edition %}
    <a class="btn btn-default content-link" data-active='profile' href="{{ path( "tangara_user_change_password") }}" >{{ 'profile.changePassword'|trans }}</a>
{% endif %}
{#
<!--    <a class="btn btn-default content-link" data-active='profile' href="{{ path( "tangara_user_delete") }}" >{{ 'profile.delete'|trans }}</a> -->

#}
</div> 

