<div class="fos_user_user_show">
    <div class="row">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <div class="col-md-6">
            <fieldset>
                <legend>{{ 'my.p'|trans|capitalize }} {{ 'projects'|trans }}</legend>
                <a class="btn btn-success" href="{{ path('tangara_project_user_new', {user_id: user.getId()}) }}">{{ 'new.project'|trans }}</a>
                <ul>
                    {% set userProjects = user.getProjects() %}
                    {% for project in userProjects %}
                        <li id="{{ project.getId() }}">
                            <a href="{{ path( "tangara_project_show", {id: project.getId()} ) }}">{{ project.getName() }}</a>
                            <input type="button" value="{{ 'delete'|trans|capitalize }}"  onclick="delUserProject({{ project.getId() }});" />
                        </li>
                    {% endfor %}
                </ul>
                <p id="msg"></p>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>{{ 'my.p'|trans|capitalize }} {{ 'groups'|trans }}</legend>
                <a class="btn btn-success" href="{{ path('tangara_user_group_new') }}">{{ 'new.group'|trans }}</a>
                {% if user.isGroups() %}
                <p>{{ 'be.member'|trans }} :</p>
                <ul>
                    {% set userGroups = user.getGroups() %}
                    {% for group in userGroups %}
                        <li><a href="{{ path( "tangara_user_groupInfo", {id: group.id} ) }}">{{ group.getName() }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>{{ 'msg.no.groups'|trans }}.</p>
                {% endif %}
                <a href="{{ path('fos_user_group_list') }}">{{ 'list.all.groups'|trans }}</a>
            </fieldset>
        </div>
    </div>
            
    <div class="row">
        <fieldset>
            <legend>{{ 'profile.management'|trans }}</legend>
            <ul>
                <li><a href="{{ path('tangara_user_delete') }}">{{ 'delete.profile'|trans }}</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">{{ 'change.pass'|trans }}</a></li>
            </ul>
        </fieldset>
    </div>

</div>

            
            
            
            
            

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
                </script>

                <script>
                    function delUserProject(projectId){
                        $.ajax({
                        type: "GET",
                        url: "{{path('tangara_del_project')}}",             
                        data: 'projectid=' + projectId,
                        success: function(msg) {
                            $('#msg').html(msg);
                            var li = document.getElementById(projectId);
                            li.parentNode.removeChild(li);
                        }

                        }); // Ajax Call
                    }
                </script>