<div class="row">
    <div class="col-md-4">
        <h2>{{ '_project_description'|trans }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis. Praesent diam libero, consequat at rutrum quis, blandit porta urna. Nulla bibendum ornare lectus mattis varius. Aliquam vel condimentum enim.</p>
        <p><a class="btn btn-default" href="#" role="button">{{ '_view_details'|trans }} &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>{{ '_news'|trans }}</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">{{ '_view_details'|trans }} &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>{{ '_shared_projects'|trans }}</h2>
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>
        <p><a class="btn btn-default" href="#" role="button">{{ '_view_details'|trans }} &raquo;</a></p>
    </div>
</div>
