{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
    <div class="row">
        <a class="btn btn-success" href="{{ path('fos_user_group_edit', {groupName: group.name } ) }}">Édition du groupe</a>
    </div>
    </br>

    <div class="row">
{# <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}

{# {% set userGroups = user.getGroups() %}#}
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('tangara_project_list') }}">Les projets</a></legend>
                <ul>
                    <li><a href="#">Jeux 1</a></li>
                    <li><a href="#">Jeux 1</a></li>
                    <li><a href="#">Jeux 1</a></li>
                </ul>
                <a class="btn btn-success" href="{{ path('tangara_project_new') }}">Créer un projet dans ce groupe</a>

            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('fos_user_group_list') }}">Membres</a></legend>
                <p>Les membres de "{{ group.getName() }}"</p>
                <ul>
                    <li><a href="{{ path( "fos_user_profile_show", {id: 1} ) }}">User 1</a></li>
                    <li><a href="{{ path( "fos_user_profile_show", {id: 1} ) }}">User 2</a></li>
                    <li><a href="{{ path( "fos_user_profile_show", {id: 1} ) }}">User 3</a></li>
                    {#{% for group in joinedGroups %}
<li>{{ group }}</li>
{% endfor %}#}
                </ul>
            </fieldset>
        </div>
    </div>
</div>

