<div class="container">
    {% include 'TangaraCoreBundle:Main:messages.html.twig' %}
    <h2>{{ 'course.details'|trans }}
<a href="{{ path( "tangara_course_steps", {'courseId':course.getId()}) }}">
{% if edition %}
    {{ course.getName()}}
{% else %}
    {{ course.getTitle()}}
{% endif %}
</a>
&gt;
{% if edition %}
    {{ step.getName()}}
{% else %}
    {{ step.getTitle()}}
{% endif %}

    </h2>
        <div class='panel panel-primary'>
        <table class="data-display">
{% if edition %}
            <tr>
                <td class="data-title">
                    {{ 'step.name'|trans }}
                </td>
                <td>
                    {{step.getName()}}
                </td>
            </tr>
{% endif %}
            <tr>
                <td class="data-title">
                    {{ 'step.title'|trans }}
                </td>
                <td>
                    {{step.getTitle()}}
                </td>
            </tr>
{% if edition or step.getDescription() is not empty %}
            <tr>
                <td class="data-title">
                    {{ 'step.description'|trans }}
                </td>
                <td>
                    {{ step.getDescription() }}
                </td>
            </tr>
{% endif %}
        </table>
    </div>
    {% if message is defined %}
        <div class="well"> {{message|trans}}</div>
    {% endif %}
{% if edition %}
    <a class="btn btn-default content-link" data-active='profile' href="{{ path( "tangara_step_edit", {'courseId':course.getId(), 'stepId':step.getId()}) }}" >{{ 'step.edit'|trans }}</a>
    <a class="btn btn-default content-link" data-active='profile' href="{{ path( "tangara_step_remove", {'courseId':course.getId(), 'stepId':step.getId()}) }}" >{{ 'step.remove'|trans }}</a>
    <a id="step_delete" class="btn btn-default" data-active='profile' href="{{ path( "tangara_step_delete", {'courseId':course.getId(),'stepId':step.getId()}) }}" >{{ 'step.delete'|trans }}</a>
    <a class="btn btn-default content-link" data-active='learn' href="{{ path( "tangara_step_select", {'courseId':course.getId(), 'stepId':step.getId()}) }}" >{{ 'step.select'|trans }}</a>
{% endif %}
</div>
<script>
    $(function(){
        $('#step_delete').click(function(e){
            e.preventDefault();
            if (window.confirm("{{ 'step.deletion_confirm'|trans }}")) {
                contentLink.call($('#step_delete'), e);
            }
            return false;
        });
    });
</script>