{# {% extends "::layout.html.twig" %} #}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('bundles/tangaraadministration/css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('bundles/tangaraadministration/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tangaraadministration/css/main.css') }}">
   
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block navbar %}
            {% include 'TangaraAdministrationBundle:Default:navbar.html.twig' %}
        {% endblock %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome in the TangaraJS Project</h1>
        <p>This is the official website of the TangaraJS web app, Android, PC. The old version of the Tangara written in Java can be found here.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Project description</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis. Praesent diam libero, consequat at rutrum quis, blandit porta urna. Nulla bibendum ornare lectus mattis varius. Aliquam vel condimentum enim.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>News</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
	   <div class="col-md-4">
          <h2>Shared projects</h2>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
       </div>

        <div class="row">
            <ul class="navette">
                <li><a class="icon-home" href="#"></a></li>
                <li><a class="icon-cog" href="#"></a></li>
                <li><a class="icon-cw" href="#"></a></li>
                <li><a class="icon-location" href="#"></a></li>
            </ul>
        </div>
      <hr>

      <footer>
        <p>&copy; <a href="http://www.colombbus.org">Colombbus </a> 2007-2014</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/tangaraadministration/css/js/vendor/jquery-1.11.0.js') }}"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="{{ asset('bundles/tangaraadministration/css/js/main.js') }}"></script>
    </body>
</html>
