{% extends "TangaraAdministrationBundle:Default:homepage.html.twig" %}

{% block title %}Projets{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>{{ username }} > Création d'un projet</h1>
        <div>
            Project manager : {{ project.getProjectManager() }}
        </div>

        <form action="{{ path( "tangara_project_new" ) }}" method="post">
        {{ form_widget(form) }}
        <select name="projectownergroup">
            {% for group in project_owner_group %}
                <option value="{{ group.getId() }}">{{ group.getName() }}</option>
            {% endfor %}
        </select>
            <input type="submit">
        </form>

        {% block container_footer%}
            {% include 'TangaraAdministrationBundle:Default:container_footer.html.twig' %}
        {% endblock %}
    </div> 
{% endblock %}