{% extends "TangaraTangaraBundle:Default:layout.html.twig" %}

{% block title %}Projets{% endblock %}

{% block main_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Détails du projet</h1>
            <a class="btn btn-warning"  href="{{ path( "tangara_project_edit", {id: project.id} ) }}" >Édition</a>
            <br/>
            user name : {{ app.user.username }}
            <br/>
            user id : {{ app.user.id }}
            <br/>
            project id : {{ project.id }}
            <br/>
            project name : {{ project.name }}
            <br/>
            project manager : {{ project.ProjectManager }}
            <br/>
            Référence font : {{ project.ReferenceFont }}
            <br/>
            Date Création : {{ project.dateCreation|date('d-m-Y H:i')}}
            <br/>
            listes des contributeurs : 
            <ul>
            {% for usr in contributors %}
                <li>{{ usr }}</li>
            {% endfor %}
            </ul>
            <br/>


        </div>
        <div class="col-md-6">
            <h1>Fichiers</h1>
            <a class="btn btn-success" href="{{ path( "tangara_project_upload", {id: project.id} ) }} ">Ajouter un fichier au projet</a>
            <ul>
                <li>programme1.tgr</li>
                <li>programm2.tgr</li>
            {% for usr in contributors %}
                <li>{{ usr }}.png</li>
            {% endfor %}
            </ul>
        </div>
    </div> 
</div> 
{% endblock %}