{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
{#        {% set userGroups =  user.getGroups() %}#}
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('tangara_project_list') }}">Mes projets</a></legend>
                <a class="btn btn-success" href="{{ path('tangara_project_new') }}">Créer un nouveau projet</a>
                <ul>
                    {% for p in projectsInGroup %}
                        <li>{{ p }} </li>
                    {% endfor %}
                </ul>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('fos_user_group_list') }}">Mes groupes</a></legend>
                <a class="btn btn-success" href="{{ path('fos_user_group_new') }}">Créer un nouveau groupe</a>
                <p>Tu es membre de :</p>
                <ul>
                    {% for group in joinedGroups %}
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
        </div>
    </div>
</div>
