{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        {% set userGroups =  user.getGroups() %}
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('tangara_project_list') }}">Projets</a></legend>
                <a href="{{ path('tangara_project_new') }}">Créer un nouveau projet</a>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend><a href="{{ path('fos_user_group_list') }}">Groupes</a></legend>
                <p>Membre de :</p>
                <ul>
                    {% for group in userGroups %}
                        <li>{{ group.getName() }}</li>
                    {% endfor %}
                </ul>
                <p><a href="{{ path('fos_user_group_new') }}">Créer un nouveau groupe</a></p>
            </fieldset>
        </div>
    </div>
</div>
