<div class="container">
{% include "TangaraCoreBundle:Main:slider.html.twig" %}
</div>
<!--
<div class="jumbotron">
    <div class="container">
        <h1>{{ 'homepage.Welcome'|trans}}</h1>
        <p>{{ 'homepage.site_description'|trans}}</p>
        <p><a class="btn btn-primary btn-lg" role="button">{{ 'homepage.more'|trans}}  &raquo;</a></p>
    </div>
</div>
-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>{{ 'project.published_projects'|trans }}</h2>
            <p>{{ 'project.published_projects_description'|trans }}</p>
            <p><a class="btn btn-default content-link" href="{{path('tangara_project_published')}}" role="button" data-active="discover" data-title="{{'project.published_projects'|trans}}">{{ 'project.published_projects_access'|trans }} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{ 'homepage.news'|trans }}</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">{{ 'homepage.view_details'|trans }} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{ 'homepage.start'|trans }}</h2>
            <p>Vous voulez vous y mettre et vous ne savez pas par où commencer ? Essayez les tutoriels. </p>
            <p><a class="btn btn-default" href="#" role="button">{{ 'homepage.view_details'|trans }} &raquo;</a></p>
        </div>
    </div>
</div>
<footer>
    <p>&copy; <a href="http://www.colombbus.org">Colombbus</a> 2007-2014</p>
</footer>