<div class="navbar navbar-fixed-top" id="navbar-tangara" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logo" href="#">
        <img class="logo" src="{{ asset('bundles/tangaracore/img/logo.png')}}">Tangara
      </a>
    </div>
    <div class="navbar-collapse collapse" id="main-menu">
        <ul class="nav navbar-nav" id="navigation-menu">
            {% if active == 'discover' %}
                <li id="discover" class="active"><a href="#">{{ 'navbar.learn'|trans}}</a></li>
            {% else %}
                <li id="discover"><a href="#">{{ 'navbar.learn'|trans}}</a></li>
            {% endif %}
            {% if active == 'create' %}
                <li id="create" class='active'><a href="#">{{ 'navbar.create'|trans}}</a></li>
            {% else %}
                <li id="create"><a href="#">{{ 'navbar.create'|trans}}</a></li>
            {% endif %}
            {% if active == 'share' %}
                <li id="share" class='active'><a href="#">{{ 'navbar.share'|trans}}</a></li>
            {% else %}
                <li id="share"><a href="#">{{ 'navbar.share'|trans}}</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="user-menu">
            {% include "TangaraCoreBundle:User:menu.html.twig" %}
        </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
