<table class="table table-condensed table-hover">
    <tr> 
        <th>{{ 'admin.exercise'|trans }}</th>
        <th>{{ 'admin.owner'|trans }}</th>
        <th>{{ 'admin.exercise_datetime'|trans }}</th>
    </tr>
    {% for key, exercise in exercises %}
    <tr>
        <td><a href="{{ path('tangara_project_show', {'projectId': exercise.id}) }}"> {{ exercise.name }}</a></td>
        <td><a href="{{ path('tangara_user_profile_show', {'user_id': exercise.owner.id}) }}">{{ exercise.owner }}</a></td>
        <td>{{ exercise.created|date("m/d/Y") }}</td>
    </tr>
    {% endfor %}
</table>
<div id="pagination">
    {{ knp_pagination_render(exercises) }}
</div>