<div class="container">
        <h3> {{ 'admin.menu'|trans }}</h3>
        <br>
        <div class="col-md-2">
           <button class="btn btn-block"><a href="{{ path('tangara_admin_users')}}">{{ 'admin.members'|trans }}</a></button> 
        </div>
        <br>
        <br>
        <div class="col-md-2">
           <button class="btn btn-block"><a href="{{ path('tangara_admin_projects')}}">{{ 'admin.projects'|trans }}</a></button> 
        </div>
        <br>
        <br>
        <div class="col-md-2">
           <button class="btn btn-block"><a href="{{ path('tangara_admin_users_ajax')}}">{{ 'admin.members'|trans }}</a></button> 
        </div>
</div>