<ul class="nav nav-pills nav-stacked">
    <li role="presentation" {% if active is defined and active == 'users' %} class="active" {% endif %}>
        <a href="{{ path('tangara_admin_users')}}"  class="content-link" data-active="profile">{{ 'admin.users'|trans }}</a> 
    </li>
    <li role="presentation" {% if active is defined and active == 'projects' %} class="active" {% endif %}>
        <a href="{{ path('tangara_admin_projects')}}"  class="content-link" data-active="profile">{{ 'admin.projects'|trans }}</a>
    </li>
    <li role="presentation" {% if active is defined and active == 'exercises' %} class="active" {% endif %}>
        <a href="{{ path('tangara_admin_exercises')}}"  class="content-link" data-active="profile">{{ 'admin.exercises'|trans }}</a>
    </li>
</ul>