<ul class="nav nav-pills nav-stacked">
    <li  role="presentation" {% if active is defined and active == 'users' %} class="active" {% endif %}>
        <a href="{{ path('tangara_admin_users')}}">{{ 'admin.users'|trans }}</a> 
    </li>
    <li  role="presentation" {% if active is defined and active == 'projects' %} class="active" {% endif %}>
        <a href="{{ path('tangara_admin_projects')}}">{{ 'admin.projects'|trans }}</a>
    </li>
    <li  role="presentation" {% if active is defined and active == 'courses' %} class="active" {% endif %}>
        <a href="{{ path('tangara_course_list')}}">{{ 'admin.courses'|trans }}</a>
    </li>
</ul>