<div class="row">
    <a href="{{ path('tangara_admin_users')}}" class="btn btn-block">{{ 'admin.members'|trans }}</a> 
</div>
<div class="row">
    <a href="{{ path('tangara_admin_projects')}}" class="btn btn-block">{{ 'admin.projects'|trans }}</a>
</div>
<div class="row">
    <a href="{{ path('tangara_admin_users_ajax')}}" class="btn btn-block">{{ 'admin.auto-members'|trans }}</a>
</div>
<div class="row">
    <a href="{{ path('tangara_admin_projects_ajax')}}" class="btn btn-block">{{ 'admin.auto-project'|trans }}</a>
</div>