{# view for search project with name or owner #}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'TangaraCoreBundle:Admin:index.html.twig' %}
        </div>
        <br>
        <br>
        <div class="col-md-8">
            <h2 align="center">{{ 'admin.auto-project'|trans }}</h2>
            <br><br>
            <div class="col-md-2"></div>
            <form id="search_form" {{ form_enctype(form) }} method="POST">
                <div class="col-md-7">
                    {{ form_widget(form.search) }}        
                </div>
                <div class="col-md-5">
                    {#<button type="submit" class="btn btn-default">{{ 'admin.search'|trans}}</button>#}
                    {{ form_widget(form) }}
                </div>
            </form>
                <br>
            <div id="affProj">
                <!-- affichage des Users -->
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#search_form_search').keyup(function (key) {
                        var Data = $(this).val();
                        if (Data.length >= 1 && Data != ' ' && Data != '  ' && Data != '   ')
                        { //console.log(Data);
                            var ajax = function () {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('tangara_admin_search_project') }}",
                                    data: {search: Data},
                                    cache: false,
                                    success: function (data) {
                                        $('#affProj').html(data);
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        $('#affProj').text("Une erreur s'est produite, veuillez réessayer.").show();
                                    }
                                });
                            }
                            setTimeout(ajax, 1000);
                        }

                    });

                });
            </script>
        </div>    
    </div>
</div>