{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'login.username'|trans({}, 'messages')}}"/>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'login.password'|trans({},'messages') }}"/>
        </div>
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>
    </form>
{% endblock fos_user_content %}
